<a href="https://colab.research.google.com/github/AndreaOmodeo/colab/blob/master/Try1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas==1.1.0
!pip install -Uqq fastai

Requirement already satisfied: pandas==1.1.0 in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.0) (1.15.0)

In [15]:
from fastai.tabular.all import *

path = untar_data(URLs.ADULT_SAMPLE)

dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",    
                                  cat_names = ['workclass', 'education', 'marital-status', 'occupation',  'relationship', 'race'],    
                                  cont_names = ['age', 'fnlwgt', 'education-num'],    
                                  procs = [Categorify, FillMissing, Normalize])

learn = tabular_learner(dls, metrics=accuracy)

In [18]:
dls.dataset

            age  workclass    fnlwgt  ...  native-country  salary  education-num_na
14423 -1.510152          5 -0.482352  ...   United-States       0                 1
28530 -0.997103          5 -1.436685  ...   United-States       0                 1
17983  1.788019          1  1.988431  ...   United-States       0                 1
17036 -0.410761          7  1.592851  ...   United-States       0                 1
26670  0.615336          8 -1.264860  ...   United-States       1                 1
...         ...        ...       ...  ...             ...     ...               ...
8773   1.421556          5  0.418906  ...   United-States       0                 1
19312 -0.557347          5  1.911632  ...   United-States       0                 1
14513 -1.436859          1 -1.433416  ...   United-States       0                 1
10831 -0.850518          5 -0.536395  ...   United-States       0                 1
30488  1.201678          7  0.553826  ...   United-States       1                 1

[26049 rows x 16 columns]

In [19]:
learn.fit_one_cycle(3)