<a href="https://colab.research.google.com/github/AndreaOmodeo/colab/blob/master/Try1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pandas==1.1.0
!pip install -Uqq fastai

Requirement already satisfied: pandas==1.1.0 in /usr/local/lib/python3.6/dist-packages (1.1.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0) (1.18.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas==1.1.0) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas==1.1.0) (1.15.0)

In [25]:
import pandas as pd
from fastai.tabular.all import *

In [15]:
path = untar_data(URLs.ADULT_SAMPLE)

dls = TabularDataLoaders.from_csv(path/'adult.csv', path=path, y_names="salary",    
                                  cat_names = ['workclass', 'education', 'marital-status', 'occupation',  'relationship', 'race'],    
                                  cont_names = ['age', 'fnlwgt', 'education-num'],    
                                  procs = [Categorify, FillMissing, Normalize])

learn = tabular_learner(dls, metrics=accuracy)

In [26]:
path=Path('/root')
input_file=path/'training_set_esteso.csv'
dati=pd.read_csv(input_file)
print(dati.shape)
dati.head()

(1562, 247)

   Unnamed: 0 CD_CLIENTE  ID_SOGGETTO  ... Prod.55955  Prod.55957 Prod.55970
0           0    6706598    380368499  ...        0.0         0.0        0.0
1           1    6714863     12060622  ...        NaN         NaN        NaN
2           2    5011095      3697270  ...        0.0         0.0        0.0
3           3      55230      1553976  ...        0.0         0.0        0.0
4           4    6555906      2698785  ...        0.0         0.0        0.0

[5 rows x 247 columns]

In [36]:
dls = TabularDataLoaders.from_csv(input_file, path=path, y_names="IMPORTO_CCC",    
                                  cat_names = ['natura_giuridica', 'descr_struttura', 'cod_ateco'],    
                                  cont_names = ['sez03_cod_13',	'sez03_cod_15',	'sez03_cod_16',	'sez03_cod_19',	'sez03_cod_23',	'sez04_cod_12',	'sez04_cod_15'],    
                                  procs = [Categorify, FillMissing, Normalize])

learn = tabular_learner(dls, metrics=rmse)

In [37]:
learn.fit_one_cycle(30)